.nav-link {
    color: #43464B;
    font-size: 25px;
    margin-right: 3rem ;
    font-weight: 100;
    display: inline-block;
    position: relative;
}

#jumbo {
    background: url('../img/imageedit_1_6923696796.png') top center no-repeat;
    width: 100%;
    height: 54rem;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    filter: blur(0px);
    top: 0;
    left: 0;
    color: aliceblue;
    font-weight: 100;
    margin-bottom: 0px;
}   


.container {
    height: 50%;
    width: 50%;
    margin: 5%;
    text-align: center;
}

@media only screen and (max-width: 400px) {
    .container h1{
        font-size:50px;
    }

    .container {
        height: 50%;
        width: 50%;
        margin: 5%;
        text-align: center;
        position: relative;
        top: 50%;
        transform: translateY(-70%);
    }

    .button {
        width:10rem;
    }
    #button button {
        /* background-color: rgba(255,255,255,0.4); */
        background: rgba(255, 225, 225, .2);
        border: 1px solid #fff;
        backdrop-filter: blur(5px);
        color: rgba(255,255,255,0.8);
        margin-left: 1.5cm;
        margin-top: 0.5cm;
        height: 60px;
        border-radius: 20px;
        
    
    }
    
}

@media only screen and (min-width:500px) {
    .container h1{
        font-size: 100px;
    }
    #button {
        align-items: center;
        justify-content: center;
        font-size: larger;
        font-weight: 100;
        
    }
    
    #button button:hover{
        backdrop-filter: blur(50px);
        color: #fff
    }
    
    #button button {
        /* background-color: rgba(255,255,255,0.4); */
       background: rgba(255, 225, 225, .2);
       border: 1px solid #fff;
       backdrop-filter: blur(10px);
       color: rgba(255,255,255,0.8);
       margin: 1cm;
       width: 400px;
       height: 70px;
       font-size: larger;
       border-radius: 20px;
    }
    
}
.container p {
    font-size: 30px;
}


.footer-basic {
    padding:40px 0;
    background-color:#191919;
    color:white;
    border-top: 6px orange solid ;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }



